@import "normalize.css";
@import "global.css";
body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    position: absolute;
    padding: 0 106px 99px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F2F0F9;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #6E6893;
    width: 792px;
}

.modal__title {
    padding-top: 32px;
    margin-bottom: 43px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.form__fieldset {
    padding: 28px;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 580px;
    border: none;
}

.form__label {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-left: 9px;
}

.form__input {
    border: none;
    background-color: #F4F2FF;
    height: 40px;
    width: 524px;
    margin-bottom: 12px;
    border-radius: 6px;
    display: inherit;
    padding: 0 10px;
}

.form__input--discount {
    margin-left: 50px;
    width: 474px;
}

.form__fieldset--discount {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
}

.form__input--checkbox {
    position: absolute;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    top: 25px;
    left: -4px;
}

.form__input--checkbox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #F4F2FF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    cursor: pointer;
}

.form__input--checkbox:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 12px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
    cursor: pointer;
}

.form__input--checkbox:checked:after {
    opacity: 1;
}

.form__input:disabled {
    background-color: #EEEEEE;
}

.form__textarea {
    width: 100%;
    border: none;
    background-color: #F4F2FF;
    margin-bottom: 12px;
    border-radius: 6px;
    resize: none;
    padding: 10px;
    height: 112px;
}

.form__button {
    position: absolute;
    right: 134px;
    bottom: 28px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #6D5BD0;
    border-radius: 6px;
    padding: 10px 25px;
    transition: background-color .2s ease-in;
}

.form__button:hover {
    background-color: #4b36c2;
}

.form__button:focus {
    background-color: #6e5cd1;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 35px;
    padding: 0;
    cursor: pointer;
    border: none;
    height: 20px;
    width: 20px;
}

.modal__close-line {
    width: 30px;
    height: 3px;
    background-color: #6E6893;
    display: block;
    border-radius: 3px;
}

.modal__close-line:nth-child(1) {
    transform: translateY(1px) rotate(45deg);
}

.modal__close-line:nth-child(2) {
    transform: translateY(-2px) rotate(-45deg);
}
