@import "normalize.css";
@import "global.css";
@import "fonts.css";

.overlay {
  position: fixed;
  inset: 0;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: relative;
  margin: 0 auto;
  padding: 32px 106px 28px;
  background: #F2F0F9;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  color: #6E6893;
  max-width: 792px;
}

.modal__title {
  margin-bottom: 43px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form {
  text-align: right;
}

.form__fieldset {
  margin-bottom: 32px;
  padding: 28px;
  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  text-align: left;
}

.form__label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-left: 9px;
}

.form__input {
  display: block;
  border: none;
  background-color: #F4F2FF;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 6px;
  padding: 11px;
  line-height: 1.125;
  resize: none;
}

.form__input:last-child {
  margin-bottom: 0;
}

.form__discount-group {
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
}

.form__input-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  top: 0;
  left: 0;
}

.form__input-checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F4F2FF;
  border-radius: 8px;
  cursor: pointer;
}

.form__input-checkbox:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 23px;
  height: 12px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
  cursor: pointer;
}

.form__input-checkbox:checked:after {
  opacity: 1;
}

.form__input:disabled {
  background-color: #EEEEEE;
}

.form__input-checkbox:checked + .form__input {
  background-color: #F4F2FF;
}

.form__button {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #6D5BD0;
  border-radius: 6px;
  padding: 10px 25px;
  transform: translateX(-28px);
  transition: background-color .2s ease-in;
}

.form__button:hover {
  background-color: #4b36c2;
}

.form__button:focus {
  background-color: #6e5cd1;
}

.modal__button {
  position: absolute;
  top: 20px;
  right: 35px;
  padding: 0;
  cursor: pointer;
  border: none;
  height: 30px;
  width: 30px;
}

.button__first-line, .button__last-line {
  width: 30px;
  height: 3px;
  background-color: #6E6893;
  display: block;
  border-radius: 3px;
}

.button__first-line {
  transform: translateY(1px) rotate(45deg);
}

.button__last-line {
  transform: translateY(-2px) rotate(-45deg);
}
