:root {
    --color-white: #FFFFFF;
    --color-black: #2D2D2D;
    --color-light-grey: #E8E8E8;
    --color-grey: #8F8F8F;
    --color-dark-grey: #525252;
    --color-red: #FF0000;
    --color-blue: #3670C7;
}
