.promo__card-book {
    align-content: end;
    min-width: 245px;
    border-radius: 20px;
    background: linear-gradient(181.25deg, rgba(0, 0, 0, 0) 9.116%,rgba(0, 0, 0, 0.2) 99.018%), url("../../../blocks/promo/img/book.jpg") no-repeat center/cover;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    padding: 20px;
    grid-area: book;
}

.promo__card-book span {
    font-weight: 700;
    font-size: 40px;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .promo__card-book {
        min-width: 217px;
        padding: 10px;
        border-radius: 16px;
        background: linear-gradient(181.25deg, rgba(0, 0, 0, 0) 9.116%,rgba(0, 0, 0, 0.2) 99.018%), url("../../../blocks/promo/img/book-1024.jpg") no-repeat center/cover;
        font-size: 24px;
    }

    .promo__card-book span {
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .promo__card-book {
        min-width: 140px;
        border-radius: 12px;
        padding: 10px;
        background: linear-gradient(181.25deg, rgba(0, 0, 0, 0) 9.116%,rgba(0, 0, 0, 0.2) 99.018%), url("../../../blocks/promo/img/book-768.jpg") no-repeat center/cover;
        font-size: 20px;
        line-height: 110%;
    }

    .promo__card-book span {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .promo__card-book {
        min-width: 130px;
        border-radius: 8px;
        font-size: 12px;
        padding: 10px;
        background: linear-gradient(181.25deg, rgba(0, 0, 0, 0) 9.116%,rgba(0, 0, 0, 0.2) 99.018%), url("../../../blocks/promo/img/book-320.jpg") no-repeat center/cover;
    }

    .promo__card-book p {
        width: 65px;
    }

    .promo__card-book span {
        display: block;
        font-size: 16px;
    }
}
