.promo__card-new-year {
    align-content: end;
    min-width: 1160px;
    border-radius: 20px;
    padding: 50px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 25.388%,rgba(0, 0, 0, 0.16) 100%), url("../../../blocks/promo/img/new-year.jpg") no-repeat center/cover;
    grid-area: new-year;
}

.promo__card-new-year p {
    display: inline-block;
    padding: 32px 41px 32px 42px;
    background-color: var(--color-white);
    color: var(--color-red);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    border-radius: 20px;
    text-transform: uppercase;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .promo__card-new-year {
        min-width: 940px;
        border-radius: 16px;
        padding: 39px 30px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 25.388%,rgba(0, 0, 0, 0.16) 100%), url("../../../blocks/promo/img/new-year-1024.jpg") no-repeat center/cover;
    }

    .promo__card-new-year p {
        font-size: 30px;
        line-height: 120%;
        padding: 24px 46px 23px 47px;
        border-radius: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .promo__card-new-year {
        min-width: 700px;
        border-radius: 12px;
        padding: 26px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 25.388%,rgba(0, 0, 0, 0.16) 100%), url("../../../blocks/promo/img/new-year-768.jpg") no-repeat center/cover;
    }

    .promo__card-new-year p {
        padding: 22px 33px 22px 34px;
        font-size: 20px;
        line-height: 120%;
        border-radius: 12px;
    }
}

@media (max-width: 767px) {
    .promo__card-new-year {
        min-width: 280px;
        padding: 10px 15px;
        border-radius: 8px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 25.388%,rgba(0, 0, 0, 0.16) 100%), url("../../../blocks/promo/img/new-year-320.jpg") no-repeat center/cover;
    }

    .promo__card-new-year p {
        padding: 7px 41px 9px 41px;
        font-size: 12px;
        line-height: 120%;
        border-radius: 6px;
    }
}
