.header__logo {
    grid-template-columns: 1fr 1fr;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    padding-top: 9px;
    grid-area: logo;
}

.header__logo span {
    color: var(--color-blue);
}

@media (min-width: 1340px) and (max-width: 1919px) {
    .header__logo {
        justify-self: center;
        padding: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1339px) {
    .header__logo {

    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header__logo {
        font-size: 26px;
    }
}

@media (max-width: 424px) {
    .header__logo {
        font-size: 18px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .header__logo {
        font-size: 18px;
        align-self: center;
        padding-top: 0;
    }
}