.promo__card-girl {
    position: relative;
    min-width: 245px;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(180.00deg, rgba(7, 7, 7, 0) 30.702%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/girl.jpg") no-repeat top/cover;
    grid-area: girl;
}

.promo__card-girl > .promo__card-discount {
    right: 20px;
    bottom: 20px;
}


@media (min-width: 1024px) and (max-width: 1919px) {
    .promo__card-girl {
        min-width: 206px;
        border-radius: 16px;
        background: linear-gradient(180.00deg, rgba(7, 7, 7, 0) 30.702%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/girl-1024.jpg") no-repeat top/cover;
    }

    .promo__card-girl > .promo__card-discount {
        right: 10px;
        bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .promo__card-girl {
        align-self: end;
        min-width: 220px;
        min-height: 220px;
        border-radius: 12px;
        background: linear-gradient(180.00deg, rgba(7, 7, 7, 0) 30.702%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/girl-768.jpg") no-repeat top / cover;
    }

    .promo__card-girl > .promo__card-discount {
        right: 10px;
        bottom: 10px;
    }
}

@media (max-width: 767px) {
    .promo__card-girl {
        min-width: 130px;
        border-radius: 8px;
        background: linear-gradient(180.00deg, rgba(7, 7, 7, 0) 30.702%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/girl-320.jpg") no-repeat top / cover;
    }

    .promo__card-girl > .promo__card-discount {
        right: 10px;
        bottom: 10px;
    }
}
