.timer__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .timer__text {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .timer__text {
        font-size: 8px;
    }
}
