.promo__card-shoes {
    align-content: end;
    padding: 20px;
    min-width: 550px;
    border-radius: 20px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 25.388%,rgba(0, 0, 0, 0.16) 100%), url("../../../blocks/promo/img/shoes.jpg") no-repeat center/cover;
    grid-area: shoes;
}

.promo__card-shoes p {
    background-color: #38C0EB;
    padding: 24px 26px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
}

.promo__card-shoes span {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .promo__card-shoes {
        padding: 22px;
        min-width: 450px;
        border-radius: 16px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 25.388%,rgba(0, 0, 0, 0.16) 100%), url("../../../blocks/promo/img/shoes-1024.jpg") no-repeat center/cover;
    }

    .promo__card-shoes p {
        padding: 29px 25px;
        font-size: 30px;
        line-height: 120%;
    }

    .promo__card-shoes span {
        font-size: 40px;
        line-height: 120%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .promo__card-shoes {
        min-width: 380px;
        min-height: 380px;
        padding: 10px;
        border-radius: 12px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 25.388%,rgba(0, 0, 0, 0.16) 100%), url("../../../blocks/promo/img/shoes-768.jpg") no-repeat center/cover;
    }

    .promo__card-shoes p {
        border-radius: 12px;
        font-size: 16px;
        padding: 16px 28px;
        line-height: 110%;
    }

    .promo__card-shoes span {
        font-size: 26px;
        line-height: 110%;
    }
}

@media (max-width: 767px) {
    .promo__card-shoes {
        min-width: 280px;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 25.388%,rgba(0, 0, 0, 0.16) 100%), url("../../../blocks/promo/img/shoes-320.jpg") no-repeat center/cover;
    }

    .promo__card-shoes p {
        border-radius: 8px;
        font-size: 12px;
        padding: 9px 25px;
        line-height: 110%;
    }

    .promo__card-shoes span {
        font-size: 16px;
        line-height: 110%;
    }
}
