.promo__card-notebook {
    position: relative;
    align-content: end;
    min-width: 550px;
    border-radius: 20px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 12.281%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/notebook.jpg") no-repeat center/cover;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    padding: 30px;
    grid-area: notebook
}

.promo__card-notebook > .promo__card-discount {
    right: 20px;
    bottom: 20px;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .promo__card-notebook {
        min-width: 458px;
        border-radius: 16px;
        font-size: 30px;
        padding: 20px;
        line-height: 130%;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 12.281%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/notebook-1024.jpg") no-repeat center/cover;
    }

    .promo__card-notebook > .promo__card-discount {
        right: 10px;
        bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .promo__card-notebook {
        min-width: 300px;
        border-radius: 12px;
        padding: 20px;
        font-size: 16px;
        line-height: 120%;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 12.281%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/notebook-768.jpg") no-repeat center/cover;
    }

    .promo__card-notebook > .promo__card-discount {
        right: 10px;
        bottom: 10px;
    }
}

@media (max-width: 767px) {
    .promo__card-notebook {
        min-width: 280px;
        border-radius: 8px;
        font-size: 12px;
        line-height: 120%;
        padding: 10px 16px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 12.281%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/notebook-320.jpg") no-repeat center/cover;
    }

    .promo__card-notebook > .promo__card-discount {
        right: 5px;
        bottom: 5px;
    }
}
