.promo__card-present {
    align-content: end;
    padding: 30px;
    min-width: 550px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 7.456%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/present.jpg") no-repeat center/cover;
    grid-area: present;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .promo__card-present {
        min-width: 458px;
        border-radius: 16px;
        padding: 20px;
        line-height: 130%;
        font-size: 30px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 7.456%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/present-1024.jpg") no-repeat center/cover;
    }

    .promo__card-present p {
        width: 250px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .promo__card-present {
        min-width: 300px;
        border-radius: 12px;
        padding: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 7.456%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/present-768.jpg") no-repeat center/cover;
    }

    .promo__card-present p {
        width: 136px;
    }
}

@media (max-width: 767px) {
    .promo__card-present {
        min-width: 280px;
        border-radius: 8px;
        font-size: 12px;
        line-height: 120%;
        padding: 16px 10px;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 7.456%,rgba(0, 0, 0, 0.2) 100%), url("../../../blocks/promo/img/present-320.jpg") no-repeat center/cover;
    }
}
