.banner__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    letter-spacing: -.18px;
    margin-bottom: 100px;
}

@media (min-width: 1340px) and (max-width: 1919px) {
    .banner__title {

    }
}

@media (min-width: 1024px) and (max-width: 1339px) {
    .banner__title {
        font-size: 40px;
        width: 400px;
        margin-bottom: 11px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .banner__title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .banner__title {
        font-size: 22px;
        padding-left: 0;
        margin-bottom: 0;
    }
}