.banner__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 145px 112px 40px;
    background: rgba(0, 0, 0, 0.4) url("../img/banner.png") no-repeat center / cover;
    width: 100%;
    border-radius: 20px;
    color: var(--color-white);
}

@media (min-width: 1340px) and (max-width: 1919px) {
    .banner__wrap {
        background: rgba(0, 0, 0, 0.4) url("../img/banner-1024.png") no-repeat center / cover;
        padding: 145px 112px 40px;
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1339px) {
    .banner__wrap {
        padding: 80px 80px 36px;
        background: rgba(0, 0, 0, 0.4) url("../img/banner-1024.png") no-repeat center / cover;
        width: 100%;
        border-radius: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .banner__wrap {
        padding: 64px 80px 30px;
        background: rgba(0, 0, 0, 0.4) url("../img/banner-768.png") no-repeat center / cover;
        width: 100%;
        border-radius: 16px;
    }
}

@media (max-width: 767px) {
    .banner__wrap {
        align-items: center;
        padding: 50px 0 30px;
        background: rgba(0, 0, 0, 0.4) url("../img/banner-320.png") no-repeat center / cover;
        width: 100%;
        min-height: 340px;
        border-radius: 8px;
    }
}
