.timer__time {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    text-transform: lowercase;
    letter-spacing: 2px;
}

.timer__time span {
    font-size: 60px;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .timer__time {
        font-size: 20px;
    }

    .timer__time span {
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .timer__time {
        font-size: 16px;
    }

    .timer__time span {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .timer__time {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .timer__time span {
        font-size: 20px;
        margin-right: -6px;
    }
}

