@import "__link/__link.css";
@import "__text/--count/--count.css";
@import "__img/__img.css";
@import "__text/__text.css";

.menu {
    display: flex;
    gap: 65px;
    grid-area: menu;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .menu {
        width: 296px;
        gap: 36px;
        place-self: end;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .menu {
        gap: 30px;
        place-self: end;
    }
}

@media (max-width: 767px) {
    .menu {
        gap: 20px;
        place-self: end;
    }
}
